<%- include ('../partials/header') %> 
<div class="ui main text container segment">

  <div class="ui huge header"><%= blog.title %> </div>

  <div class="ui top attached">
      <div class="item">
          <img class="ui centered rounded image" src="<%= blog.image %> " alt="">
      </div>
      <div class="content">
          <span>Posted By: <strong><%= blog.author.username %> </strong></span>
      </div>

      <div class="content ">
          <span><%= blog.created.toDateString() %> </span>
      </div>
      
      <div class="description">
          <p><%- blog.body %> </p>
      </div>
      
      <a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">Edit</a>
      <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
          <button class="ui red basic button">Delete</button>
      </form>
  </div>

  <div class="ui threaded comments">
      <h3 class="ui dividing header">Comments</h3>

      <% blog.comments.forEach((comment)=>{ %>

        <div class="content comment">

            <div class="text">
              <ul>
                <%- include ('../partials/nestedcomment',{comment:comment, level:1}) %> 
              </ul>
            </div>
            
        </div>
      <% }) %> 
      

      <form class="ui reply form" action="/blogs/<%= blog._id %>/comments/" method="POST">
        <div class="field">
          <textarea name="comment[text]"></textarea>
        </div>

        <button type="submit" class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Comment
        </button>
      </form>
    </div>
</div>


<%- include ('../partials/footer') %> 