<%- include ('../partials/header') %> 
<div class="ui main text container segment">

  <div class="ui huge header"><%= blog.title %> </div>

  <div class="ui top attached">
      <div class="item">
          <img class="ui centered rounded image" src="<%= blog.image %> " alt="">
      </div>
      <div class="content">
          <span>Posted By: <strong><%= blog.author.username %> </strong></span>
      </div>

      <div class="content ">
          <span><%= blog.created.toDateString() %> </span>
      </div>
      
      <div class="description">
          <p><%- blog.body %> </p>
      </div>
      
      <a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">Edit</a>
      <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
          <button class="ui red basic button">Delete</button>
      </form>
  </div>

  <div class="ui threaded comments">
      <h3 class="ui dividing header">Comments</h3>

      <% blog.comments.forEach((comment)=>{ %>

        <div class="content comment">
            <a class="author"><%= comment.author.username %> </a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
              <%= comment.text %> 
            </div>

            <div class="actions">
              <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>"><i class="reply icon green small"></i></a>
              <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit"><i class="edit icon yellow small"></i></a>
              

              <form id="delete_comment" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="ui red basic button"><i class="trash icon red small"></i></button>
              </form>
              
            </div>
        </div>
      <% }) %> 
      

      <form class="ui reply form" action="/blogs/<%= blog._id %>/comments/" method="POST">
        <div class="field">
          <textarea name="comment[text]"></textarea>
        </div>

        <button type="submit" class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Comment
        </button>
      </form>
    </div>
</div>



<%- include ('../partials/footer') %> 